@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h2,
.prose h3,
.prose h4 {
  color: #36a3ff;
}

.prose strong {
  color: #a9adc1;
}

.prose time {
  font-size: 1rem;
}

.prose p {
  font-size: 1.125rem;
}

.prose code,
.prose blockquote {
  color: #fff;
}

.prose a {
  color: #fff;
}

@layer components {
  .skillBox {
    @apply lg:[&:nth-child(4)]:col-start-3 lg:[&:nth-child(4)]:col-end-4 lg:[&:nth-child(5)]:col-start-2 lg:[&:nth-child(5)]:col-end-3 lg:[&:nth-child(5)]:row-start-2 lg:[&:nth-child(5)]:row-end-3 lg:[&:nth-child(4)]:mt-[73px];
  }
}
